<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lista</title>
</head>
<body>
    <div>
        <table> 
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                </tr>    
            </thead>
            <tbody>
                <tr th:each="tests : ${tests1}" scope="row">
                    <td th:text="${tests.id}"></td>>ID</td>
                    <td th:text="${tests.nome}">Nome</td>
                    <td th:text="${tests.descricao}">Descrição</td>
                    <td><a th:href="@{'/deletar/' + ${tests.id}}">Deletar </a></td>
                    <td><a th:href="@{'/editar/' + ${tests.id}}">Editar </a></td>
                </tr>
            </tbody>
    </div>
</body>
</html>